@import "../../../../style/abstracts/variables";

.NavigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.NavigationItem a {
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    color: black;
    height: 100%;
    padding: 16px 24px;
    border-bottom: 4px solid transparent;

    &:hover {
        color: $primary-color;
    }

    &.active {
        border-bottom: 4px solid $primary-color;
        color: $primary-color;
    }
}
