@import "../../../style/abstracts/variables";

.Button {
    background-color: transparent;
    border-radius: 4px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 12px 24px;
    margin: 12px;
    font-weight: bold;
}

.Button:disabled {
    color: black;
    background-color: grey;
    cursor: not-allowed;
}

.Primary {
    background-color: $primary-color;
}

.Secondary {
    background-color: $secondary-color;
}
